.habit__card {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    min-height: 3rem;
    width: 500px;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
}

.habit__cardheader {
    font-family: 'Arvo' !important;
    font-size: 20px;
}