@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');

.timeline {
    float: right;
    margin-top: 100px;
    margin-right: 50px;
    background-color: antiquewhite;
    position: relative;
    width: 1000px;
    background-color: aqua;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #2856ec;
}

.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    line-height: normal;
    position: relative;
    width: 50%;
    padding: 0px 20px;
    list-style: none;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: 34px;
    width: 10px;
    height: 10px;
    background: rgba(233, 33, 99, 1);
    border-radius: 50px;
    box-shadow: rgba(233, 33, 99, 0.2);
}

.timeline__content {
    margin: 0 40px;
}