@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');

.habits_container h1 {
    margin-top: 30px;
    margin-right: 50px;
    font-family: 'Arvo';
    align-self: center;
    border-bottom: 1px solid black;
}

.habits_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: white; */
    min-height: 100vh;
    width: 80vw;
}

ol.habit__list > .k-card::before ol.habit__list > .k-card {
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    box-sizing: border-box;
}

ol.habit__list {
    margin: 1.75rem 0;
    padding-left: 1rem;
}

.daily__habits-input {
    display: flex;
}

.daily__habits-input .k-form-hint {
    font-family: 'Arvo';
    margin-right: 10px;

}

.daily__habits-input .k-textbox { 
    font-family: 'Arvo';
    background-color: white;
    width: 500px;
    padding: 0 20px;
    margin-right: 10px;
}

.daily__habits-input .k-button {
    background-color: #3963ed;
    color: white;
    border-radius: 10px;
    height: 60px;
}

.daily__habit-wrapper {
    display: flex;
    align-items: center;
    height: min-content;
}

.habit__card-delete {
    height: 30px;
    margin-left: 25px;
}

.delete__habit-buttons {
    display: flex;
    justify-content: space-around;
}

.delete__habit-del {
    background-color: #22B573;
    color: white;
    border-radius: 10px;
}

.delete__habit-cancel { 
    background-color: #3963ed;
    color: white;
    border-radius: 10px;
}
