.viz__page {
    background-color: #FDF074;
    padding-bottom: 200px;
    min-height: 80vh;
}

.charts__wrapper {
    display: flex;
    justify-content: space-around;
}

.k-chart-surface > svg {
    border-radius: 10px;
}

.line__chart {
    width: 30vw;
    height: 20vh;
    margin: 20px;
}

.longest__streaks {
    width: 30vw;
    height: 20vh;
    margin: 20px;
}

.current__streaks {
    width: 30vw;
    height: 20vh;
    margin: 20px;
}