@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


.home__container {
    height: 100vh;
    width: 100vw;
    background-color: #FDF074;
}

.auth__buttons {
    position: fixed;
    bottom: 0;
    right: 5vw;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: 400px;
    height: 150px;
}

.buttons__one {
    display: flex;
    justify-content: space-between;
}

.buttons__one > .k-primary {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 700;
}

.buttons__two {
    display: flex;
    align-self: center;
    margin-top: 20px;
}

.buttons__two > .k-button {
    height: 50px;
    width: 325px;
    border-radius: 10px;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 900;
}

.k-ripple-container {
    padding: 10px 0;
    align-self: center;
}

.home__text-top {
    width: 600px;
    position: fixed;
    right: 130px;
    font-family: 'Arvo';
    font-size: 9vh;
    font-style: italic;
    color: #2856ec;
    display: flex;
    flex-direction: column;
    text-shadow: 3px -2px 5px rgba(0, 0, 0, 0.3);
}

.top__line-one {
    align-self: center;
}

.top__line-two {
    align-self: flex-end;
    position: relative;
    top: -50px;
}

.home__text-bottom {
    position: fixed;
    right: 3vw;
    bottom: 35vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    font-family: 'Arvo';
    font-size: 5vh;
}

.bottom__line-two {
    display: flex;
    align-self: center;
}

.home__doodle .doodle {
    position: fixed;
    animation: goUpDown 3s infinite;
    height: 100vh;
    bottom: 30px;
}

@keyframes goUpDown {
    0%, 100% {
        transform: translateY(0);
        transform: rotate(-20deg);
    }
    50% {
        transform: translateY(-100px);
        transform: rotate(-18deg);
    }
}

.doodle-triangle {
    position: fixed;
    top: -10vh;
    left: 130px;
    height: 100vh;
    transform: rotate(20deg);
    z-index: 0;
}