@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


.home__container {
    height: 100vh;
    width: 100vw;
    background-color: #FDF074;
}

.auth__buttons {
    position: fixed;
    bottom: 0;
    right: 30px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: 400px;
    height: 150px;
}

.buttons__one {
    display: flex;
    justify-content: space-between;
}

.buttons__one > .k-primary {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 700;
}

.buttons__two {
    display: flex;
    align-self: center;
    margin-top: 20px;
}

.buttons__two > .k-button {
    height: 50px;
    width: 325px;
    border-radius: 10px;
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: 900;
}

.k-ripple-container {
    padding: 10px 0;
    align-self: center;
}

.home__text-top {
    width: 600px;
    position: fixed;
    right: 130px;
    font-family: 'Nunito';
    font-size: 50px;
    font-style: italic;
    color: #FA5D05;
    display: flex;
    flex-direction: column;
}

.top__line-one {
    align-self: center;
}

.top__line-two {
    align-self: flex-end;
    position: fixed;
    top: 100px;
}

.home__text-bottom {
    position: fixed;
    right: 50px;
    bottom: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    font-family: 'Arvo';
    font-size: 40px;
}

.bottom__line-two {
    display: flex;
    align-self: center;
}


/* .home__doodle .doodle {
    position: absolute;
    top: -15vh;
    height: 100vh;
}

.doodle-triangle {
    position: absolute;
    top: -10vh;
    left: 130px;
    height: 100vh;
    transform: rotate(20deg);
    z-index: -1;
} */