.register__page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FDF074;
}

.register__page .loving {
    position: fixed;
    justify-self: center;
    bottom: 60vh;
    height: 50vh;
    max-width: 500px;
}

.register__page .meditating {
    position: fixed;
    top: 0;
    right: 400px;
}

.register__page .meditating {
    opacity: 0.15;
}

.back__arrow h3 {
    font-family: 'Arvo';
    font-size: 20px;
    margin-bottom: 30px;
}

.back__arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    padding: 50px;
}

.arrows {
    padding: 20px;
}

.arrows:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    padding: 20px;
    cursor: pointer;
}

#more-arrows {
    width: 75px;
    height: 65px;
}
#more-arrows:hover polygon {
    fill: #3963ed;
    transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
    transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
    transform: translateY(18px);
}

polygon {
    fill: black;
    transition: all 0.2s ease-out;
}
polygon.arrow-middle {
    opacity: 0.75;
}
polygon.arrow-top {
    opacity: 0.5;
}